<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Instagram Search Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")   
    @model InstaSearchWebApp.Common.ViewModelSearch
</head>
<body onload="document.forms.bing.query.focus();">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-7">
            <form name="bing" method="post">
                <div id="query">
                    <h2>Search For Instagram Page (Hit Ent):</h2>
                    <input type="text" name="query" id="term" placeholder="Search the Web" autocomplete=off>
                </div>
            </form>
            <br />
            @if (!Model.ErrorMsg.IsEmpty())
            {
                <br />
                <br />
                <div>
                    <h2>Error</h2>
                    <div id="_error">
                        @Model.ErrorMsg
                    </div>
                </div>
            }

        </div>
        
    </div>   
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
            <h2>Results</h2>
            <div> @Model.StringResults </div>
            <div> @Model.Result.Name </div>
            <a> @Model.Result.Url </a>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-1"></div>        
        <div class="col-xs-4">
            <h2>History</h2>
            @if (Model.SearchHistory != null)
            {
                <table class="table table-condensed">
                    @foreach (var search in Model.SearchHistory)
                    {
                        <tr>
                            <td>@search.Term</td>

                        </tr>
                    }
                </table>
            }
        </div>

    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")        
        @RenderSection("scripts", required: false)
        @RenderBody()
</body>
</html>
